body, html {
    height: 100%;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
    background-color: saddlebrown;
}

.navbar .nav .navbar_component{
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: aliceblue;
    height: fit-content;
    
    font-size: 20px;
}
    .navbar .nav {
        display: flex;
        align-content: center;
    }
